<h2>Menu</h2>
<dl>
  <!--FIXME: figure out how to to this with just each?-->
  {{#each item in model}}
  <dt>
  {{item.title}} - {{item.price}} <button {{action 'add' item target='controllers.cart'}}></button>
  </dt>
  <dd>
    {{item.description}}
  </dd>
  {{/each}}
</dl>

